<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Meteo-app</title>
  </head>
  <body>
    <div class="search-city-container">
      <form action="/submit" method="GET">
        <input
          type="text"
          name="cityName"
          id="cityName"
          placeholder="Enter the name of the city"
          required
        />
        <input type="submit" value="Search" />
      </form>

      <%if(locals.cityName){ %>
      <p><%=cityName %></p>
      <% }else{ %>
      <p><%= wait %></p>
      <%} %>

      <!-- <form action="/get" method="POST">
        <button>
          <h1>Thessaloniki</h1>
          <h3>Central Macedonia , Greece</h3>
        </button>
      </form>-->
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
